:root{
  --red-color:red;
  --blue-color:rgb(0, 89, 255);
  --pink-color:pink;
  --main-size:4.75rem;
  --timing-out:.3s;
} 

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  width: 100px;
  height: 100px;
  color: white;
  background: linear-gradient(to right , black , pink);
  /* background-color: var(--blue-color); */
  /* transition: property duration timing-function delay; */
 
  /* transition: width 3s linear, background-color 1s ease-in-out; */
 
  /* box-shadow: offset-x offset-y blur-radius spread-radius color; */
  /* box-shadow:      10px     10px      15px            -10px rgba(0, 0, 0, 0.5);  */


  /* transform: rotate(45deg); */
   translate: 50px 50px;
  margin: 100px;

}




